
services:
    laravel.test:
        build:
            # context: ./vendor/laravel/sail/runtimes/8.2
            context: ./
            dockerfile: Dockerfile
            args:
                user: sail
                uid: 1000
        image: estagio_incorporadora
        # container_name: incorp-app
        working_dir: /var/www/
        # ports:
        #     - '${APP_PORT:-80}:80'
        #     - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        # extra_hosts:
        #     - 'host.docker.internal:host-gateway'
        # environment:
        #     WWWUSER: '${WWWUSER}'
        #     LARAVEL_SAIL: 1
        #     XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
        #     XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        #     IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - './:/var/www'
        networks:
            - incorp
        depends_on:
            - db
            - nginx
            # - redis
            # - meilisearch
            # - mailpit
            # - selenium
    db:
        image: 'mysql/mysql-server:8.0'
        container_name: incorp-db
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            SERVICE_NAME: mysql
        volumes:
            - './docker-compose/mysql:/docker-entrypoint-initdb.d'
            # - 'sail-mysql:/var/lib/mysql'
            # - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - incorp
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    nginx:
        image: nginx:1.17-alpine
        container_name: incorp-nginx
        restart: unless-stopped
        ports:
        - 8000:80
        volumes:
        - ./:/var/www
        - ./docker-compose/nginx:/etc/nginx/conf.d
        networks:
        - incorp


    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - incorp
    # selenium:
    #     image: seleniarm/standalone-chromium
    #     extra_hosts:
    #         - 'host.docker.internal:host-gateway'
    #     volumes:
    #         - '/dev/shm:/dev/shm'
    #     networks:
    #         - incorp
networks:
    incorp:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
    sail-redis:
        driver: local
    sail-meilisearch:
        driver: local
